body {
    background-color: #000000;
    color: #dcdcdc;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.container {
    background-color: #000000;
    color: #dcdcdc;
}

#banner {
    padding: 8px;
    margin-bottom: 6px;
    position: relative;
}

#contact{
float:right;
}

#commentContent{
    font-size: 1em;
    margin-top: 4%;
}

#banner img {
    border: 5px solid #dcdcdc;
    background-color: black;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #ea1700;
    box-shadow: 5px 5px 5px #ea1700;
    margin: 0 auto 12px auto;
}

#bannerText span {
    position: absolute;
    bottom: 20%;
    font-size: 150%;
    color: #666;
    padding: 0 20px;
    width: 100%;
    line-height: 150%;
    text-align: center;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), color-stop(50%, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 1)));
    font-family: 'Lobster', helvetica, arial;
}

#bannerText span:after {
    content: 'Zdrowy Rozsądek';
    color: #d6d6d6;
    text-shadow: 0 1px 0 white;
}

#bannerImg {
    opacity: 0.9;
}

#content {
    font-size: 1em;
    text-align: justify;
}

.neverDisplay{
    visibility: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#quotes p {
    font-size: 0.8em;
    font-style: italic;
    text-align: justify;
}

footer {
    text-align: right;
    font-size: 0.7em;
    font-weight: bold;
    color: red;
}

ul > li {
    text-align: center;
}

.citeHeader {
    font-size: 1em;
    font-weight: bold;
}

.teksty {
    border: 2px groove #843534;
    margin-bottom: 25px;
}

.teksty-logged > form > input {
    background-color: black;
}

.contents {
    padding: 4px 12px 4px 12px;
    text-indent: 5%;
}

.teksty > .page-header {
    border-bottom-color: black;
    margin: 1px;
    padding: 2px;
}

.teksty-header {
    margin-top: 0;
    text-align: center;
}

.teksty > .page-header > .col-lg-4.col-md-4.col-sm-5.col-xs-6> h6 {
    text-align: right;
}

.date-author {
    color: red;
}

.wladca-records {
    width: 100%;
    padding: 2%;
    background-color: black;
    color: white;
}

.modal-title {
    text-align: center;
    color: red;
    font-weight: bold;
}

.golden-text {
    color: gold;
}

a:hover.wladcaNazwa, a:focus.wladcaNazwa {
    text-decoration: none;
    text-shadow: #e6e6e6 1px 1px 2px;
    background-color: #262626;
}

.teksty-header > a {
    color: #262626;
}

a:hover#tekstHeader, a:focus#tekstHeader {
    text-decoration: none;
    color: #b9def0;
}

tr > td, tr > th {
    text-align: center;
}

#query, #order, .order {
    color: #080808;
    background-color: #e6e6e6;
    border: 1px solid white;
    margin-bottom: 10px;
}

#loginbar {
    margin-top: 16px;
}

#contentsText{
    max-width: 100%;
    background-color: #080808;
}

.mailto {
    font-size: 1.3em;
    color: #31b0d5;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px;
    vertical-align: middle;
    margin:1px 1px 2px 1px;
}

.mailto:hover, .mailto:active, .mailto:link {
    text-decoration: none;
}

.mailto:visited {
    text-decoration: none;
}

/*changing bootstrap color classes for navbar*/

.navbar-inverse {
    border: 1px solid red;
    padding: 3px;
}

.navbar-inverse > li > a, .dropdown-menu > li > a {
    color: #ff320d;
    font-size: 1em;
}

.dropdown-menu > li > a {
    background-color: #222;
}

.navbar-inverse > li > a:focus {
    color: #7c7f83;
    font-size: 1em;
}

.navbar-inverse > li > a:hover {
    background-color: #23527c;
    color: #ff320d;
    font-size: 1em;
}

.btn.btn-primary{
    margin: 4px;
}



